body {
    background-color: black;
    color: antiquewhite;
}

.top {
    text-align: center;
    color: rgb(236, 161, 62);
    text-shadow: 2px 2px crimson;
    background-image: url(coding-portfolio.jpeg);
}

img {
    border-radius: 100px;

}

.pic {
    box-align: right
}